<!DOCTYPE html>
<!--
	Celebrating 10 years!
-->
<html>

{% include head.html %}

<body>

    {% include header.html %}

    <!-- Banner -->
    <section id="banner" class="major">
        <div class="inner">
            <header class="major">
                <h1>{{ page.landing-title }}</h1>
            </header>
            <div class="content">
                <p style="text-transform: uppercase;">{{ site.description }}</p>
                <ul class="actions">
                    <li><a href="#one" class="button next scrolly">View major highlights</a></li>
                </ul>
            </div>
        </div>
    </section>

    <!-- Main -->
    <div id="main">

        <!-- One -->
<div class="inner">
    <header class="major">
        <h2>2012</h2>
    </header>
</div>

{% include tiles.html %}
        <!--Two-->
        <div class="inner">
            <header class="major">
                <h2>2013</h2>
            </header>
        </div>
        {% include tiles.html %}

        <!--three-->
        <div class="inner">
            <header class="major">
                <h2>2014</h2>
            </header>
        </div>
        {% include tiles.html %}
        <!--four-->
        <div class="inner">
            <header class="major">
                <h2>2015</h2>
            </header>
        </div>
        {% include tiles.html %}

        <!--five-->

        <div class="inner">
            <header class="major">
                <h2>2016</h2>
            </header>
        </div>
        {% include tiles.html %}
       

        <!--six-->
        <div class="inner">
            <header class="major">
                <h2>2017</h2>
            </header>
        </div>
        {% include tiles.html %}

        <!--seven-->
        <div class="inner">
            <header class="major">
                <h2>2018</h2>
            </header>
        </div>
        {% include tiles.html %}

        <!--eight-->
        <div class="inner">
            <header class="major">
                <h2>2019</h2>
            </header>
        </div>
        {% include tiles.html %}

        <!--nine-->
        <div class="inner">
            <header class="major">
                <h2>2020</h2>
            </header>
        </div>
        {% include tiles.html %}

        <!--ten-->
        <div class="inner">
            <header class="major">
                <h2>2021</h2>
            </header>
        </div>
        {% include tiles.html %}

        <!--eleven-->
        <div class="inner">
            <header class="major">
                <h2>2022</h2>
            </header>
        </div>
        {% include tiles.html %}

          <!--eleven-->
          <div class="inner">
            <header class="major">
                <h2>2023</h2>
            </header>
        </div>
        {% include tiles.html %}

                
        <!-- twelve -->
        <section id="two">
            <div class="inner">
                <header class="major">
                    <h2>Massa libero</h2>
                </header>
                <p>{{ content }}</p>
                <ul class="actions">
                    <li><a href="landing.html" class="button next">Get Started</a></li>
                </ul>
            </div>
        </section>

    </div>

    {% include footer.html %}

</body>

</html>
